{
  "extension": [".js"],
  "include": ["index.js"],
  "exclude": ["test/**"],
  "reporter": ["text", "html"],
  "all": true,
  "check-coverage": false,
  "sourceMap": false,
  "instrument": true,
  "require": ["@babel/register"]
}
